<% if logged_in? %>
<div id="new-mark">

  <% form_remote_tag(:url => marks_path, :method => :post) do %>
  <p>	<%= image_tag ('/images/vidURL.png', :id => 'vidURL') %>

	  <%= text_field_tag :url %><%= submit_tag "TubeMark it!" %></p>
	<% end %>
</div>
<% end %>


<% if @errors %>
  <%= @errors.full_messages %>

<% end %>
